/* generic classes */
.center-grid {
    grid-column: 2/3;
}

.conversation-dashboard {
    &-section {
        &__title {
            height: 1.875rem;
            margin-bottom: 1.813rem;
            text-transform: capitalize;
        }
    }
}

.dashboard-balloon {
    &__container {
        margin: 2.5rem 0 3rem 0;
    }

    &__title {
        color: $color-theme-dark-blue;
        line-height: 1.375rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    &__label {
        color:$color-theme-report-light-blue;
        margin-bottom: .3rem;
    }
    &__label,
    &__title {
        text-transform: uppercase;
        font-weight: 500;
    }
}

.report-container .conversation-dashboard .report-card {
    border: 1px solid $color-theme-report-light-blue;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0 1.375rem 0 1.1875rem;
    min-height: 4.6875rem;
    background-color: $color-theme-report-light-blue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__label {
        font-size: 1rem;
        color: $color-theme-report-blue;
    }

    &__button {
        padding: 1rem 0 0 0;
    }

    &--margin-lg {
        margin-bottom: 3.65rem;
    }

    &--margin-sm {
        margin-bottom: 2.56rem;
    }

}


.charts-section {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 1.875rem;

    &__title {
        font-size: 1.1em;
        line-height: 1.3125rem;
        margin: unset;
        display: flex;
        text-transform: capitalize;
        color: $color-theme-dark-blue;
        font-family: "Work Sans", sans-serif;
        font-weight: bold;
        flex-grow: 1;
    }

    #voting-time-chart {
        height: 25rem;
        div:first-child {
            width: 100% !important;
        }
    }

    .time-chart {
        width: 100%;
        svg {
            margin: 1rem auto auto auto;
        }

        .date-picker {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            &__input {
                display: flex;
                gap: .5rem;
                border: 1px solid $color-theme-report-dark-gray;
                border-radius: 0.3125rem;
                padding: 0.25rem;
                cursor: pointer;
                color: $color-theme-report-dark-gray;
                input {
                    min-width: unset !important;
                    max-width: 7.5rem !important;
                    padding: unset;
                    cursor: pointer;
                    width: 100%;
                    margin: auto;
                    height: 1rem;
                    border: unset !important;
                    border-radius: unset !important;
                    font-size: 0.875rem;
                    font-weight: 400;
                    text-align: center;
                    color: $color-theme-report-dark-gray;
                }
                input:focus {
                    box-shadow: unset !important;
                }
            }
        }

        &__container {
            position: relative;
        }

        &--invalid-dates {
            color: $color-theme-report-red;
            display: none;
        }

        &--loading {
            text-align: center;
            display: none;
        }
    }

    .channels-chart {
        width: 100%;
        &__header {
            display: flex;
            flex-wrap: wrap;
            gap: .85rem;
            justify-content: space-between;
        }

        .participant-filter {
            display: flex;
            gap: .3rem;

            &__buttons {
                display: flex;
                gap: .5rem;
            }

            &__button {
                border: 1px solid $color-theme-report-dark-gray;
                border-radius: 0.3125rem;
                color: $color-theme-report-dark-gray;
                background-color: $color-white;
                line-height: 1rem;
                text-transform: capitalize;
                padding: 0 0.5rem;
                margin-right: 0.5625rem;
                text-transform: lowercase;
                height: 1.82rem;
                font-weight: 400;
                font-size: 1rem;

                &--selected {
                    background-color: $color-theme-report-dark-gray;
                    color: $color-white;
                }
            }

            &__button:focus {
                box-shadow: unset;
            }
            &__button:active {
                box-shadow: unset;
            }

        }
    }

    @media (max-width: 1200px) {
        & {
            flex-wrap: wrap;

            .time-chart,
            .channels-chart {
                width: 100% !important;
            }
        }
    }
}

.report-container .conversation-dashboard .voting-section {
    &__title {
        align-items: center;
        height: 3.875rem;
        margin-bottom: 0.75rem;

        h2 {
            margin: unset;
        }
    }

    &__container {
        margin-bottom: 2.19rem;
    }

}

.report-container .conversation-dashboard .dashboard-card {
    flex: 22.5%;
    border: 2px solid $color-theme-report-light-blue;
    border-radius: 0.3125rem;
    padding: 1.1875rem 1.5625rem 1.1875rem 1.5625rem;

    &--fit-content {
        flex: inherit !important;
    }

    &__container {
        gap: 1.25rem;
        flex-wrap: wrap;
    }

    &__title {
        font-weight: bold;
        font-size: 1em;
        color: $color-theme-report-blue;
    }

    &__value {
        font-weight: 400;
        font-size: 1.5em;
        color: $color-theme-report-light-blue;

        &--white {
            color: $color-white;
        }
    }

    &--blue {
        background-color: $color-theme-report-light-blue;

        .dashboard-card__value {
            color: white;
        }
    }
}

.report-container .conversation-dashboard .comments-section {
    margin-bottom: 2.19rem;

    &__title {
        margin-bottom: 2.56rem;
    }
}

.clusters-section {
    .content-grid > * {
        grid-column: 2/3;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 3rem 0;
        justify-content: center;
    }
}

.report-container .conversation-dashboard .clusters-section {
    background-color: $color-theme-report-gray-blue;
    margin-bottom: 5rem;
    grid-column: 1/4;

    &__title {
        div {
            span {
                text-align: left;
                font-family: "Work Sans", "sans-serif";
                font-size: 1.5rem;
            }
        }
    }

    &__chart {
        text-align: center;
    }

    &__detail {
        h2, p {
            color: $color-black;
        }

        p, button {
            font-family: "Work Sans";
        }

        button {
            border-radius: 0.5rem;
            background-color: $color-black;
            color: $color-white;
            height: 2.625rem;
            text-transform: capitalize;
            font-size: 1rem;
        }

        &--filled {
            h2 {
                font-size: 1.5em;
                margin-top: unset;
                text-transform: capitalize;
            }
            max-width: 20rem;
        }

        &--null {
            font-size: 2.25rem;
        }
        &--no-margin {
            margin-bottom: unset !important;
        }
        &--padding {
            justify-content: unset;
        }
    }
    &__comment-percentage {
        font-size: 2.25em;
    }

    &__main-comment {
        font-size: 1em;
        margin-bottom: 1rem;
    }
}

.scatter-section {
    display: grid;
    grid-template-columns: 30% auto auto auto;
    grid-template-rows: 25rem;
    @media (max-width: 414px) {
        & {
            grid-template-columns: auto;
            grid-template-rows: auto auto;
        }
    }

    &__filters {
        grid-column: 1 / 2;
        grid-row: 1;
        display: block !important;

        @media (max-width: 414px) {
            & {
                grid-column: 1;
                grid-row: 1;
            }
        }

        p {

        }
    }

    &__chart {
        grid-column: 2 / 5;
        grid-row: 1;
        height: 400px;

        @media (max-width: 414px) {
            & {
                grid-column: 1;
                grid-row: 2;
            }
        }

    }
}

.report-container .conversation-dashboard .scatter-section {
    gap: 2.5rem;
    margin-bottom: 3rem;

    &__title {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        h2 {
            width: 100%;
        }
        p {
            color: $color-black;
            font-family: "Work Sans";
            font-size: 1rem;
        }
    }

    &__container {
        max-width: 37.5rem;
        min-width: 17.5rem;
        width: 100%;
        height: 25rem;
    }
}

.report-container .conversation-dashboard .scatter-filter {
    &__button--inactive {
        color: $color-theme-report-dark-gray !important;
        background-color: white !important;
    }

    &__filter-by-text {
        font-size: 1rem;
        color: $color-theme-report-dark-gray;
    }

    button {
        color: $color-white;
        background-color: $color-theme-report-dark-gray;
        border: 1px solid $color-theme-report-dark-gray;
        border-radius: 0.5rem;
        line-height: 1rem;
        padding: 0 0.5rem;
        margin-right: 0.5625rem;
        text-transform: lowercase;
        height: 1.82rem;
        font-size: 1rem;
    }

    &__categories {
        display: flex;
        max-width: 14.375rem;
        flex-wrap: wrap;
        margin: 1rem 0 0 0;
    }

    &__no-group-text {
        background-color: $color-theme-grey;
        width: 13.4375rem;
        border-radius: 0.5rem;
        padding: 0.375rem 0.5625rem 0.375rem 1rem;
        span {
            font-weight: 600;
            color: $color-white;
            font-size: 1.25rem;
            font-family: "Work Sans";
        }
    }
}

.report-container .conversation-dashboard .words-cloud-section {
    &__title {
        margin-bottom: 1.75rem;
    }
    &__container {
        box-sizing: border-box;
        border: 1px solid $color-theme-report-gray;
        width: 100%;
        height: 24.25rem;
        margin-bottom: 2.625rem;
        position: relative;
        p {
            position: absolute;
            left: 1rem;
            top: 1rem;
            font-size: 1.125rem;
            line-height: 1.3125rem;
        }
    }

}

.report-container .conversation-dashboard {
    &__button {
        margin-left: auto;
        a {
            border-radius: 0.313rem;
            text-transform: capitalize;
            font-size: 1rem;
            padding: .2rem .8rem;
            box-sizing: content-box;
        }
    }

    .title {
        align-items: baseline;
        h2 {
            margin: unset;
        }
        span {
            font-family: "Work Sans";
        }
    }

    .flex-align {
        gap: 1.25rem;
        align-items: center;
    }
}

.report-container .conversation-dashboard .voting-modal-report {
    display: flex;
    align-items: center;

    i {
        font-size: 1.125rem;
        color: $color-base-pink;
    }

    &__card--hide {
        display: none !important;
    }

    &__card {
        display: flex;
        align-items: center;
        width: fit-content;
    }

    &__content {
        display: flex;
        flex-direction: column;
        background-color: $color-base-pink;
        color: white;
        border-radius: 0.32rem;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        align-items: center;
        justify-content: center;
        height: 3.875rem;

        span {
            font-size: 1rem;
        }
        a {
            font-weight: bold;
            color: white;
            text-decoration: underline;
        }
    }

    &__triangle {
        width: 0;
        height: 0;
        border: 0.46875rem solid transparent;
        border-top: 0;
        border-bottom: 0.9375rem solid $color-base-pink;
        transform: rotate(-90deg);
    }
}

@media (max-width: 375px) {
    .time-chart,
    .channels-chart {
        width: 100vw !important;
        min-width: unset !important;
    }

    #channel-chart {
        width: 16.5625rem !important;
    }
}

@media (max-width: 559px) {
    .report-container .conversation-dashboard .report-card {
        padding: 1.875rem 0 1.5rem 0;
        grid-column: 2/3;
        border-radius: 0px;

        &--external {
            background-color: $color-theme-report-light-blue;
            grid-column: 1/4;
            display: grid;
            grid-template-columns: 3% auto 3%;
        }
    }

    .report-container .conversation-dashboard .voting-section {
        .dashboard-card {
            flex: 45%;
        }
        &__container {
            grid-column: 1/4;
            margin-right: 0.9375rem;
            margin-left: 0.9375rem;
        }
    }

    .report-container .conversation-dashboard .comments-section {
        grid-column: 1/4;
        margin-right: 0.9375rem;
        margin-left: 0.9375rem;

        &__title {
            margin-top: 1.56rem;
        }
    }


    .report-container .conversation-dashboard .clusters-section {
        &__container {
            padding: unset !important;
            max-width: unset !important;
        }

        &__title {
            margin-top: 1.76rem;
            div {
                max-width: unset !important;
            }
            span {
                width: 100% !important;
                text-align: left;
                font-family: "Work Sans", "sans-serif";
                font-size: 1.5rem;
            }
        }

        &__detail--filled {
            margin-bottom: 2rem;
            max-width: 100%;
            width: 100%;
        }

        &__chart {
            margin: .1rem 0 .1rem 0;
            width: 18rem !important;
        }

        &__comment-percentage {
            font-size: 1.5rem;
        }

        &__main-comment,
        .helptext {
            font-size: 0.875rem;
            margin-bottom: 2rem;
        }

    }

    .report-container .conversation-dashboard .scatter-section {
        &__title {
            max-width: 100%;

            h2 {
                margin: 0 0 1.75rem 0;
            }
        }
        .scatter-filter {
            &__categories {
                max-width: unset !important;
                width: 100% !important;
            }

            &__button {
                font-size: 0.8rem !important;
            }

        }
    }

    .report-container .conversation-dashboard .words-cloud-section {
        &__title {
            margin-top: unset;
        }

    }

    .conversation-dashboard .flex-align {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 0px !important;
    }

    .conversation-dashboard__button {
        a {
            float: right;
        }
    }

    .report-container .conversation-dashboard.title {
        width: 90% !important;
        max-width: unset !important;
    }
}

