{% macro clustersGenerator(json_data) %}
<script src="{{ static('js/clusterviz.js') }}"></script>
<script>
    window.addEventListener('load', function () {
        let canvas = $('#cluster-canvas');
        let size = 0;
        let windowSize = ($(window).width());
        if (windowSize >= 1000) {
            size = 500;
        }
        if (windowSize < 1000 && windowSize > 500) {
            size = 400;
        }
        if (windowSize <= 500) {
            size = 300;
        }
        canvas.css({width: size, height: size * 0.80});
        initializeForceLayout('#cluster-canvas', {{ json_data | safe }});
    });
</script>
{% endmacro %}

